<h1 style="color:white">FENWAY PARK</h1>
<table width="100%" style="text-align:center">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>R</th>
      <th>H</th>
      <th>E</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="color:white">NY</td>
      <td> </td>
      <td style="border: 1px solid gray;">1</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">2</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">3</td>
      <td style="border: 1px solid gray;">9</td>
      <td style="border: 1px solid gray;">0</td>
    </tr>
    <tr>
      <td style="color:white">BOSTON</td>
      <td> </td>
      <td style="border: 1px solid gray;">1</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">2</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">0</td>
      <td style="border: 1px solid gray;">3</td>
      <td style="border: 1px solid gray;">9</td>
      <td style="border: 1px solid gray;">0</td>
    </tr>
  </tbody>
</table>
